version: "3.9"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./backend/.env
    ports:
      - "${PORT}:4000"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    env_file:
      - ./backend/.env
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
